.header{
    display: flex;
    padding: 13px 19px; 
    justify-content: space-between;
    position: sticky;  
    background-color: white;
    z-index: 100 ; 
    box-shadow: 0px 5px 15px -10px rgba( 0, 0, 0,0.75);
    border-radius: 50px;
   
}
.header:hover{
    background-color: rgb(228, 223, 223);
}
.header_left{ 
    display: flex;
    justify-content: space-evenly;
}

.searches{
    display: flex;
    align-items: center;
     background-color: rgb(243, 243, 243);
     padding: 10px;
     margin-left: 10px ;
     border-radius: 99px;
}

.searches > input{
    border: none;
    background-color: transparent;
    outline-width: 0;
}

.header_left > img{
    height: 40px;
} 

.header_center{
    display: flex;
    justify-content: space-evenly ;
   
    
}

.icons > .MuiSvgIcon-root{
    color: grey ;
}
.icons:hover > .MuiSvgIcon-root{
    color: #2e81f4 ;
}

.icons {
    display: flex;
    padding: 0 30px; 
    cursor: pointer;
}

.icons:hover {
     background-color: rgb(243, 243, 243);
     border-radius: 10px;
    align-items: center;
    padding: 0 30px; 
    border-bottom: none;
}

.icons--active > .MuiSvgIcon-root{
        color: #2e81f4;
}

.icons--active{
    border-bottom: 4px solid #2e81f4;
}


 .info{
    display: flex;
    align-items: center;
 }
 
.header_right{
    display: flex ;
    padding: 2px;
    background-color: rgb(243, 243, 243);
    border-radius: 99px;
}
.header_right:hover{
    border-bottom: 2px solid #2e81f4;
}