.message{
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 15px -10px rgba( 0, 0, 0,0.75);
    width: 100%;
}

.message_top{
    display: flex;
    border-bottom: 1px solid #eff2f5; 
    padding: 15px;
}

.message_top > form{
    flex: 1;
    display: flex;
}

.message_top > form > input{
    outline-width: 0;
    border: none;
    padding: 5px 20px;
    margin: 0 10px;
    border-radius: 99px;
    background-color: rgb(243, 243, 243);
}

.message_top > form > button{
    display: none;
}

.message_input{
    flex: 1;
}

.message_bottom{
display: flex;
justify-content: space-evenly;
}

.message_option{
    padding: 20px;
    display: flex;
    align-items: center;
    color: gray;
    margin: 3px;
}

.message_option >h4{
    font-size: medium;
    margin-left: 7px;
    cursor: pointer;
}

.message_option:hover{
    background-color: #eff2f5;
    border-radius: 99px;
}
